<% provide(:title, 'ScubaCoding school') %>
<div id="logo">
	<div class="scuba_logo">scuba</div>
	<div class="coding_logo">coding</div>
</div>
<footer>
	<strong>depth</strong>.driven.development school
</footer>