@font-face {
  font-family: 'quicksandbold';
  src: url(font-path('quicksand-bold-webfont.eot'));
  src: url(font-path('quicksand-bold-webfont.eot?') + '#iefix') format('embedded-opentype'),
       url(font-path('quicksand-bold-webfont.woff')) format('woff'),
       url(font-path('quicksand-bold-webfont.ttf')) format('truetype'),
       url(font-path('quicksand-bold-webfont.svg') + '#quicksandbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandlight';
  src: url(font-path('quicksand-light-webfont.eot'));
  src: url(font-path('quicksand-light-webfont.eot') + '?#iefix') format('embedded-opentype'),
       url(font-path('quicksand-light-webfont.woff')) format('woff'),
       url(font-path('quicksand-light-webfont.ttf')) format('truetype'),
       url(font-path('quicksand-light-webfont.svg') + '#quicksandlight') format('svg');
  font-weight: normal;
  font-style: normal;
}