// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #919A9A;

body{
	margin: 0;
	padding: 0;
	background: #000 url("homepage_bg.png") no-repeat;
	background-size: 100%;
	background-position: 0 -20px;
	font-family: 'quicksandlight';
	z-index: 1;
}

#logo{
	color: #FFF;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 265px;
	text-shadow: 0 2px 0px #242424;			
}

.scuba_logo {
	font-size: 160px;
}

.coding_logo {
	font-size: 130px;
	margin-top: -60px;
	color: $grey;
}

footer{
	color: $grey;
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
	strong {
		font-family: 'quicksandbold';
	}
}